{% extends 'basic.html' %}
{% load static %}
{% block body_block %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//geodata.solutions/includes/statecity.js"></script>
<script type="text/javascript">

</script>

<div class="jumbotron">
{% if user.is_authenticated %}



  <center>
  <h1>New Sign-up form</h1>
  <h3 class="lead">Fill up the Mobile number of new user you want to register:</h3>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <style media="screen">
      .errorlist
    {
        color: red;
    }
    .error input, .error select {
    border: 2px red solid;
    }
    </style>
    <table >
    {{ mobileotp_Form.as_table }}
    <input type="hidden" name="country" id="countryId" value="IN"/>
    </table>
    {% if error %}
      <p class="lead" style="color:red;">● {{ error_message }}</p>
    {%else %}
    <br>
    {% endif %}
    <input type="submit" name="" value="Submit" class="btn btn-primary btn-lg">
  </form>
  </center>
  {% endif %}
</div>
{% endblock %}
